.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
    z-index: 1000;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-family: 'SourceSansPro', sans-serif;
  }

li img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .navlist {
    display: flex;
    gap: 25px;
    list-style: none;
    padding-right: 150px;
  }

  .navlist li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
  }

  .navlist li {
    transition: color 0.3s ease;
  }

  .navlist li:hover a{
    color: #8200CE;
  }

  #welcome {
  font-family: Patung, sans-serif;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 10px;
}

  body.dark-theme .navlist li a {
    color: white;
    transition: color 0.3s ease;
  }

  body.dark-theme .navlist li:hover a{
    color: #02ABFF;
  }