@font-face {
  font-family: 'Patung';
  src: url('./assets/font/Patung.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/font/SourceSansPro-Bold.ttf') format('truetype');
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

section{
  height: 100vh;
  margin: 0;
}

#about{
  margin: 0;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  font-family: Patung, sans-serif;
  font-size: larger;
  font-size: 50px;
  margin: 0;
}

h3 {
  font-family: SourceSansPro, sans-serif;
  font-size: 20px;
  margin: 0;
}

section {
  margin-bottom: 20px;
  padding: 20px;
}

footer {
  background-color: #626161; /* Default footer background color */
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

#position {
  font-family: SourceSansPro, sans-serif;
  font-size: 20px;
  margin: 0;
}

#techstack-title, #projects-title, #othertools-title {
  margin: 0;
  font-family: SourceSansPro, sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 50px 20px;
}

#othertools{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

/* Blinking cursor effect */
#position span::after {
  content: "|"; /* The cursor */
  display: inline-block;
  font-weight: bold;
  animation: blink 0.75s steps(2, start) infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.socials {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Default (light theme) */
body.light-theme .socials svg {
  fill: #8200CE; /* Default SVG color for light theme */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

body.light-theme .socials svg:hover {
  filter: drop-shadow(0 0 5px #8200CE); /* Change SVG color on hover for light theme */
}

/* Dark theme */
body.dark-theme .socials svg {
  fill: #02ABFF; /* Change SVG color to white for dark theme */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

body.dark-theme .socials svg:hover {
  filter: drop-shadow(0 0 5px #02ABFF); /* Change SVG color on hover for dark theme */
}

span {
  font-family: SourceSansPro, sans-serif;
  margin: 0;
  color: #8200CE;
}

body.dark-theme span{
  color: #02ABFF;
}



